html, body {
  margin: 0;
  padding: 1em;
  font-size: 2em;
  background-color: rgb(240, 240, 240);
}

input{
  height: 50px;
  width: 200px;
  font-size: 1em;
}

button{
  font-size: .5em;
  width: 150px;
  height: 50px;
  margin-top: 1em;
}

canvas {
  margin-top: 3em;
  margin-right: auto;
  margin-left: auto;
  display: block;  
  border: 3px solid black;
}
